<!-- This is the contents within our Navigation bar...-->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Billo's Page</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a id="nav-home" class="nav-link" href="/">Home</a>
        </li>
        <li id="nav-rules" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="SwordShieldDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sword/Shield
          </a>
          <ul class="dropdown-menu" aria-labelledby="SwordShieldDropdown">
            <li><a class="dropdown-item" href="/retail/swsh/overworld">Overworld RNG (Retail)</a></li>
            <li><a class="dropdown-item" href="/cfw/swsh/overworld">Overworld RNG (CFW)</a></li>
            <li><a class="dropdown-item" href="/retail/swsh/item">Item RNG (Retail)</a></li>
            <li><a class="dropdown-item" href="/cfw/swsh/item">Item RNG (CFW)</a></li>
          </ul>
        <li id="nav-rules" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="LGPEDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Let's Go Pikachu/Eevee
          </a>
          <ul class="dropdown-menu" aria-labelledby="LGPEDropdown">
            <li><a class="dropdown-item" href="/cfw/lgpe/bird-watching">Bird Watching (CFW Botting)</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>