<!-- This is the contents within our Navigation bar...-->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Billo's Page</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- HOME -->
        <li class="nav-item">
          <a id="nav-home" class="nav-link" href="/">Home</a>
        </li>

        <!-- CFW -->
        <li id="nav-cfw" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="nav-cfw-drop" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            CFW Guides
          </a>

          <ul class="dropdown-menu dropend" aria-labelledby="nav-cfw-drop">

            <li id="nav-cfw-sv" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" href="#" id="nav-cfw-sv-drop" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                Scarlet &amp; Violet
              </a>
              <ul class="dropdown-menu" aria-labelledby="nav-cfw-sv-drop">
                <li><a class="dropdown-item" href="/cfw/sv/raidcrawler">RaidCrawler Usage Guide</a></li>
              </ul>
            </li>

            <li id="nav-cfw-swsh" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" href="#" id="nav-cfw-swsh-drop" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                Sword &amp; Shield
              </a>
              <ul class="dropdown-menu" aria-labelledby="nav-cfw-swsh-drop">
                <li><a class="dropdown-item" href="/cfw/swsh/raid">Max Raid RNG</a></li>
                <li><a class="dropdown-item" href="/cfw/swsh/overworld">Overworld RNG</a></li>
                <li><a class="dropdown-item" href="/cfw/swsh/item">Item RNG</a></li>
              </ul>
            </li>

            <li id="nav-cfw-pla" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" href="#" id="nav-cfw-pla-drop" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                Legends: Arceus
              </a>
              <ul class="dropdown-menu" aria-labelledby="nav-cfw-pla-drop">
                <li><a class="dropdown-item" href="/cfw/la/general">Legendary RNG</a></li>
              </ul>
            </li>

            <li id="nav-cfw-lgpe" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" href="#" id="nav-cfw-lgpe-drop" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                Let&apos;s Go Pikachu &amp; Eevee
              </a>
              <ul class="dropdown-menu" aria-labelledby="nav-cfw-lgpe-drop">
                <li><a class="dropdown-item" href="/cfw/lgpe/bird-watching">Bird Watching (Botting)</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <!-- RETAIL -->
         <li id="nav-ret" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="nav-ret-drop" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            Retail Guides
          </a>

          <ul class="dropdown-menu dropend" aria-labelledby="nav-ret-drop">

            <li id="nav-ret-swsh" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" href="#" id="nav-ret-swsh-drop" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                Sword &amp; Shield
              </a>
              <ul class="dropdown-menu" aria-labelledby="nav-ret-swsh-drop">
                <li><a class="dropdown-item" href="/retail/swsh/raid">Max Raid RNG</a></li>
                <li><a class="dropdown-item" href="/retail/swsh/overworld">Overworld RNG</a></li>
                <li><a class="dropdown-item" href="/retail/swsh/item">Item RNG</a></li>
              </ul>
            </li>

            <li id="nav-ret-pla" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" href="#" id="nav-ret-pla-drop" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                Legends: Arceus
              </a>
              <ul class="dropdown-menu" aria-labelledby="nav-ret-pla-drop">
                <li><a class="dropdown-item" href="/retail/la/legendary">Legendary RNG</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <!-- MISC -->
         <li id="nav-misc" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="nav-misc-drop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Misc
            </a>
            <ul class="dropdown-menu" aria-labelledby="nav-misc-drop">
              <li><a class="dropdown-item" href="/misc/moarencounterbots">Building & Editing Moarencounterbots</a></li>
            </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
