<script type="text/javascript">
  var url = window.location.pathname;
  var pathname = url.slice(url.indexOf("/") + 1, url.indexOf("/", url.indexOf("/") + 1)).toLowerCase();
  console.log(pathname)
  switch (pathname) {
    case "cfw":
      $("#nav-cfw-drop").addClass("active").css("color", "#fff");
      break;

    case "retail":
      $("#nav-ret-drop").addClass("active").css("color", "#fff");
      break;

    case "misc":
      $("#nav-misc-drop").addClass("active").css("color", "#fff");
      break;

    default:
      $("#nav-home").addClass("active").css("color", "#fff");
  }
  if (url.toLowerCase().endsWith(".git")) {
    window.location.replace("https://github.com/Billo-Guides/billo-guides.github.io");
  }
</script>