<script type="text/javascript">
  var url = window.location.pathname;
  var pathname = url.slice(url.indexOf("/", 1) + 1, url.indexOf("/", url.indexOf("/", 1) + 1)).toLowerCase();
  switch (pathname) {
    case "swsh":
      $("#SwordShieldDropdown").addClass("active").css("color", "#fff");
      break;

    case "lgpe":
      $("#LGPEDropdown").addClass("active").css("color", "#fff");
      break;

    default:
      $("#nav-home").addClass("active").css("color", "#fff");
  }
  if (url.toLowerCase().endsWith(".git")) {
    window.location.replace("https://github.com/Billo-Guides/billo-guides.github.io");
  }
</script>