<!-- Popup modal for images goes at the bottom of any page -->
<div id="image-popup" class="popup">
    <span class="popup-close" onclick="closePopup()">&times;</span>
    <img id="popup-image" class="popup-image" src="" alt="Expanded Image">
</div>

<div id="html-popup" class="popup">
    <span class="popup-close" onclick="closePopup()">&times;</span>
    <table class="table table-striped" style="width:50%" id="overworld-rng-table">
        <thead class="table text-white" style="background-color: #0c0038;">
            <tr>
                <th scope="col" class="text-center" style="width:30%">Icon</th>
                <th scope="col" class="text-center">Weather Condition</th>
                <th scope="col" class="text-center">Mark</th>
                <th scope="col" class="text-center">Title</th>
            </tr>
        </thead>
        <tbody class="bg-white">
            <tr>
                <td class="text-center">
                    <img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/misc/uncropped-weather-icons/normal-weather.png" alt="normal-weather" width="50" height="50">
                </td>
                <td class="text-center">
                    <span class="fw-bold">Normal Weather</span>
                </td>
                <td class="text-center">
                    &mdash;
                </td>
                <td class="text-center">
                    &mdash;
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/misc/uncropped-weather-icons/overcast.png" alt="overcast" width="50" height="50">
                </td>
                <td class="text-center">
                    <span class="fw-bold">Overcast</span>
                </td>
                <td class="text-center">
                    <img src="https://www.serebii.net/swordshield/ribbons/cloudymark.png" alt="Cloudy Mark" width="50" height="50">
                </td>
                <td class="text-center">
                    the Cloud Watcher
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/misc/uncropped-weather-icons/raining.png" alt="raining" width="50" height="50">
                </td>
                <td class="text-center">
                    <span class="fw-bold">Raining</span>
                </td>
                <td class="text-center">
                    <img src="https://www.serebii.net/swordshield/ribbons/rainymark.png" alt="Rainy Mark" width="50" height="50">
                </td>
                <td class="text-center">
                    the Sodden
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/misc/uncropped-weather-icons/thunderstorm.png" alt="thunderstorm" width="50" height="50">
                </td>
                <td class="text-center">
                    <span class="fw-bold">Thunderstorm</span>
                </td>
                <td class="text-center">
                    <img src="https://www.serebii.net/swordshield/ribbons/stormymark.png" alt="Stormy Mark" width="50" height="50">
                </td>
                <td class="text-center">
                    the Thunderstruck
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/misc/uncropped-weather-icons/intense-sun.png" alt="intense-sun" width="50" height="50">
                </td>
                <td class="text-center">
                    <span class="fw-bold">Intense Sun</span>
                </td>
                <td class="text-center">
                    <img src="https://www.serebii.net/swordshield/ribbons/drymark.png" alt="Dry Mark" width="50" height="50">
                </td>
                <td class="text-center">
                    the Parched
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/misc/uncropped-weather-icons/snowing.png" alt="snowing" width="50" height="50">
                </td>
                <td class="text-center">
                    <span class="fw-bold">Snowing</span>
                </td>
                <td class="text-center">
                    <img src="https://www.serebii.net/swordshield/ribbons/snowymark.png" alt="Snowy Mark" width="50" height="50">
                </td>
                <td class="text-center">
                    the Snow Frolicker
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/misc/uncropped-weather-icons/snowstorm.png" alt="snowstorm" width="50" height="50">
                </td>
                <td class="text-center">
                    <span class="fw-bold">Snowstorm</span>
                </td>
                <td class="text-center">
                    <img src="https://www.serebii.net/swordshield/ribbons/blizzardmark.png" alt="Blizzard Mark" width="50" height="50">
                </td>
                <td class="text-center">
                    the Shivering
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/misc/uncropped-weather-icons/sandstorm.png" alt="sandstorm" width="50" height="50">
                </td>
                <td class="text-center">
                    <span class="fw-bold">Sandstorm</span>
                </td>
                <td class="text-center">
                    <img src="https://www.serebii.net/swordshield/ribbons/sandstormmark.png" alt="Sandstorm Mark" width="50" height="50">
                </td>
                <td class="text-center">
                    the Sandswept
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/misc/uncropped-weather-icons/fog.png" alt="fog" width="50" height="50">
                </td>
                <td class="text-center">
                    <span class="fw-bold">Heavy Fog</span>
                </td>
                <td class="text-center">
                    <img src="https://www.serebii.net/swordshield/ribbons/mistymark.png" alt="Misty Mark" width="50" height="50">
                </td>
                <td class="text-center">
                    the Mist Drifter
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script>
$(document).ready(() => {
    // Get all clickable images
    const clickableImages = document.querySelectorAll(".clickable-image");
    const clickableLinks = document.querySelectorAll(".clickable-link");

    // Get the modal elements
    const popup = document.getElementById("image-popup");
    const htmlPopup = document.getElementById("html-popup");
    const popupImage = document.getElementById("popup-image");
    const closePopupElement = document.querySelector(".popup-close");

    // Add click event listeners to each image
    clickableImages.forEach((image) => {
        image.addEventListener("click", (event) => {
            const imageSrc = image.getAttribute("data-image"); // Get the image source
            popupImage.src = imageSrc; // Set the popup image source
            popup.style.display = "flex"; // Show the popup modal
        });
    });

    clickableLinks.forEach((link) => {
        link.addEventListener("click", (event) => {
            htmlPopup.style.display = "flex";
            console.log(link);
        });
    });

    // Add event listener to close button
    if (closePopupElement) {
        closePopupElement.addEventListener("click", () => {
            closePopup();
        });
    }

    // Close the popup when clicking outside the image
    if (popup) {
        popup.addEventListener("click", (event) => {
            if (event.target === popup) {
                closePopup();
            }
        });
    }

    if (htmlPopup) {
        htmlPopup.addEventListener("click", (event) => {
            if (event.target === htmlPopup) {
                closePopup();
            }
        });
    }

    // Close popup when pressing the ESC key
    $(document).keydown(e => {
        if (e.keyCode === 27) { // ESC key
            closePopup();
        }
    });

    function closePopup() {
        if (popup) {
            popup.style.display = "none"; // Hide the popup
            popupImage.src = ""; // Clear the image source
        }
        if (htmlPopup) {
            htmlPopup.style.display = "none";
        }
    }
});
</script>