---
layout: default
title: Making a HTML select element that controls the content shown on the page
permalink: /secrets/show-content-from-select/
---

<!-- Library for syntax highlighting -->
<link
  rel="stylesheet"
  href="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/styles/default.min.css"
/>
<script src="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/highlight.min.js"></script>
<script src="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/languages/powershell.min.js"></script>
<script src="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/languages/html.min.js"></script>

<!-- css for pop quiz answers -->
<style>
  .spoiler {
    background-color: gray;
    color: transparent;
    user-select: none;
  }

  .spoiler:hover {
    background-color: inherit;
    color: inherit;
  }
</style>

<p>hiiiiii!</p>
<p>
  Let&apos;s build a page with a <code>&lt;select&gt;</code> element that
  controls which content is displayed. In this example, we&apos;ll be choosing
  between three options: A wall of lorem ipsum, the bee movie script, and a fun
  cat gif.
</p>
<hr />

<h3>Step 1: Creating a <code>&lt;select&gt;</code> element</h3>
<div>
  Our HTML element is going to need a few things:
  <div class="ms-4 mb-2">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="step1-id" />
      <label class="form-check-label" for="step1-id">
        An <code>id</code> property, to allow us to select it from javascript.
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="step1-options"
      />
      <label class="form-check-label" for="step1-options">
        A list of <code>&lt;option&gt;</code>s with their
        <code>value</code> property set &mdash; this will be used as a selector
        to control which content gets displayed by our code later on, so make
        them something short but meaningful!
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="step1-options2"
      />
      <label class="form-check-label" for="step1-options2">
        An <code>&lt;option&gt;</code> with an empty <code>value</code> property
        and the <code>selected</code> attribute at the start of the list, to
        hide all the content by default.
      </label>
    </div>
  </div>
  I&apos;ll also be adding some extra classes and stuff to make it display
  nicely with bootstrap, our theme/layout utilities, but the above is what could
  be considered a minimum requirement.
</div>
<br />
<pre><code class="html">&lt;div class="mb-3 w-100"&gt;
    &lt;div class="row row-cols-1"&gt;
        &lt;div class="col"&gt;
            &lt;label for="content-select"&gt;&lt;span class="fw-bold"&gt;Select the content you'd like to see:&lt;/span&gt;&lt;/label&gt;
            &lt;select id="content-select" class="form-select"&gt;
                &lt;option value="" selected&gt;No content selected...&lt;/option&gt;
                &lt;option value="lorem"&gt;I want to see lorem ipsum!&lt;/option&gt;
                &lt;option value="bee"&gt;According to all known laws of aviation...&lt;/option&gt;
                &lt;option value="cat"&gt;MEOW MEOW MEOW MEOW MEOW MEOW MEOW MEOW&lt;/option&gt;
            &lt;/select&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>

<div>
  Pop quiz! (hover answers to show)
  <div class="ms-4">
    <div>
      - What is the <code>id</code> property of the
      <code>&lt;select&gt;</code> element in the above snippet?
      <span class="spoiler">content-select</span>
    </div>
    <div>
      - How many <code>&lt;option&gt;</code>s does the above
      <code>&lt;select&gt;</code> box have? <span class="spoiler">4</span>
    </div>
    <div>
      - What text will be displayed in the <code>&lt;select&gt;</code> by
      default when the page is loaded, and why?
      <span class="spoiler"
        >The box will read &quot;No content selected...&quot;, because that is
        the &lt;option&gt; with the selected attribute set.</span
      >
    </div>
  </div>
</div>

<hr />

<h3>Step 2: Folder setup</h3>
<div>
  As stated above, we want to be able to choose between three different content
  options for the page. We should already be pretty familiar with how to set
  this up, we just need to create a <code>.html</code> file for each one.
  I&apos;ll keep it brief for now, but our folder structure should look
  something like this:
  <pre><code class="powershell">PS C:\Users\&lt;user&gt;\Documents\GitHub\billo-guides.github.io\secrets>tree /F
Folder PATH listing for volume OS
C:.
└───show-content-from-select
    ├───bee-movie.html
    ├───cat-gif.html
    ├───index.html # That&apos;s this file! You&apos;ll want to edit the contents of the other ones.
    └───lorem-ipsum.html</code></pre>

  You can then fill these files out with whatever content you want to display on
  the page.
</div>

<hr />

<h3>Step 3: Other HTML setup</h3>
<div>
  Now that we have our <code>&lt;select&gt;</code> working and the files
  containing the content we want to display exist, we need to add some more HTML
  to the page to include them. GitHub Pages/jekyll (the engine that powers this
  site) uses <a href="https://shopify.github.io/liquid/">liquid</a> to parse the
  files, so we want to tell that to include the files we created in Step 2. We
  also need a few <code>&lt;div&gt;</code>s to hold them, and these are going to
  need some really important classes:
  <div class="ms-4 mb-2">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="step3-class1"
      />
      <label class="form-check-label" for="step3-class1">
        A class common to all of them, to allow them to be selected from our
        script later on. In our example this will be <code>info</code>.
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="step3-class2"
      />
      <label class="form-check-label" for="step3-class2">
        A class unique to each of them, that uses the first class as a prefix
        and the values of the <code>&lt;option&gt;</code>s above as a suffix.
        e.g. <code>info-lorem</code>, <code>info-bee</code>, and
        <code>info-cat</code>
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="step3-class3"
      />
      <label class="form-check-label" for="step3-class3">
        The <code>d-none</code> class, which will hide them from view by
        default.
      </label>
    </div>
  </div>
  They&apos;re also going to need:
  <div class="ms-4 mb-2">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="step3-liquid"
      />
      <label class="form-check-label" for="step3-liquid">
        The liquid <code>&lbrace;% include_relative %&rbrace;</code> code that
        points to the other content html files.
      </label>
    </div>
  </div>
  That sounds like a lot, but in terms of code it actually looks fairly simple!
  We&apos; put this wherever we want the content in the page to go, typically
  just below the <code>&lt;select&gt;</code> we created earlier.
</div>
<pre><code class="html">&lt;div&gt;
  &lt;div class="info info-lorem d-none"&gt;
      &lbrace;% include_relative lorem-ipsum.html %&rbrace;
  &lt;/div&gt;
  &lt;div class="info info-bee d-none"&gt;
    &lbrace;% include_relative bee-movie.html %&rbrace;
  &lt;/div&gt;
  &lt;div class="info info-cat d-none"&gt;
    &lbrace;% include_relative cat-gif.html %&rbrace;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>

<div>All together, our HTML will now look like this:</div>
<pre><code class="html">&lt;div class="mb-3 w-100"&gt;
  &lt;div class="row row-cols-1"&gt;
      &lt;div class="col"&gt;
          &lt;label for="content-select"&gt;&lt;span class="fw-bold"&gt;Select the content you'd like to see:&lt;/span&gt;&lt;/label&gt;
          &lt;select id="content-select" class="form-select"&gt;
              &lt;option value="" selected&gt;No content selected...&lt;/option&gt;
              &lt;option value="lorem"&gt;I want to see lorem ipsum!&lt;/option&gt;
              &lt;option value="bee"&gt;According to all known laws of aviation...&lt;/option&gt;
              &lt;option value="cat"&gt;MEOW MEOW MEOW MEOW MEOW MEOW MEOW MEOW&lt;/option&gt;
          &lt;/select&gt;
      &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div&gt;
  &lt;div class="info info-lorem d-none"&gt;
      &lbrace;% include_relative lorem-ipsum.html %&rbrace;
  &lt;/div&gt;
  &lt;div class="info info-bee d-none"&gt;
    &lbrace;% include_relative bee-movie.html %&rbrace;
  &lt;/div&gt;
  &lt;div class="info info-cat d-none"&gt;
    &lbrace;% include_relative cat-gif.html %&rbrace;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>

<hr />

<h3>Step 4: JavaScript</h3>
<div>
  This is where the fun starts! For this task we&apos;ll actually be using a
  library called <a href="https://jquery.com/">jQuery</a> that&apos;s already
  included on every page. It&apos;s a little more powerful than plain js and has
  neater syntax, though is not strictly necessary to do this. We already use it
  for the site layout though (bootstrap relies on it as a dependecy), so we may
  as well utilise it as well!
</div>
<div>
  The code that powers the weather select in the guide also has querystring
  support that allows us to load a non-default option from a link (such as
  automatucally displaying the cat gif content), but we don't need that right
  now. If you decide you want it shoot me a ping and I can add it here!
</div>
<div>
  Our script needs to:
  <div class="ms-4 mb-2">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="step4-1" />
      <label class="form-check-label" for="step4-1">
        Register a function on the <code>change</code> event of our <code>&lt;select&gt;</code> element, allowing us to run code whenever the value is changed.
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="step4-2" />
      <label class="form-check-label" for="step4-2">
        Get the value of our <code>&lt;select&gt;</code> element.
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="step4-3" />
      <label class="form-check-label" for="step4-3">
        Hide the content associated with every option by adding the <code>d-none</code> class.
      </label>
    </div>
    
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="step4-4" />
      <label class="form-check-label" for="step4-4">
        Un-hide the content associated with the selected option by removing the <code>d-none</code> class from that element only.
      </label>
    </div>
  </div>
</div>

<pre><code>$("#content-select").change(() => { // $ tells the script to use jQuerey, # tells jQuery that this element is an ID, .change(() => {...}) registers a function to the change event. An alternative to this in plain javascript would be document.getElementByID("content-select").addEventListener("change", () => {...});
  let optionValue = $("#content-select").val(); // .val() asks jQuery to get the value of the selected option. This step looks up an element by its id, then gets the selected option, and stores it in the variable optionValue

  $(".info").addClass("d-none"); // . is a class identifier, so this step tells jQuery to get every element with the info class and add the class d-none to all of them. Vanilla js equivalent is to call document.getElementsByClassName("info") and then edit the classList. 
  $(".info-" + optionValue).removeClass("d-none"); // combine "info-" with the optionValue from above and use it as a class identifier to get the element that we want to un-hide, then remove the d-none class from it. vanilla js should probably use document.querySelector() for this.
});</code></pre>

<div>Now we can add this to our HTML in a <code>&lt;script&gt;</code> element at the end of the page, and hey presto! it works.</div>

<pre><code class="html">&lt;div class="mb-3 w-100"&gt;
  &lt;div class="row row-cols-1"&gt;
      &lt;div class="col"&gt;
          &lt;label for="content-select"&gt;&lt;span class="fw-bold"&gt;Select the content you'd like to see:&lt;/span&gt;&lt;/label&gt;
          &lt;select id="content-select" class="form-select"&gt;
              &lt;option value="" selected&gt;No content selected...&lt;/option&gt;
              &lt;option value="lorem"&gt;I want to see lorem ipsum!&lt;/option&gt;
              &lt;option value="bee"&gt;According to all known laws of aviation...&lt;/option&gt;
              &lt;option value="cat"&gt;MEOW MEOW MEOW MEOW MEOW MEOW MEOW MEOW&lt;/option&gt;
          &lt;/select&gt;
      &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div&gt;
  &lt;div class="info info-lorem d-none"&gt;
      &lbrace;% include_relative lorem-ipsum.html %&rbrace;
  &lt;/div&gt;
  &lt;div class="info info-bee d-none"&gt;
    &lbrace;% include_relative bee-movie.html %&rbrace;
  &lt;/div&gt;
  &lt;div class="info info-cat d-none"&gt;
    &lbrace;% include_relative cat-gif.html %&rbrace;
  &lt;/div&gt;
&lt;/div&gt;

&lt;script&gt;
$("#content-select").change(() => { // $ tells the script to use jQuerey, # tells jQuery that this element is an ID, .change(() => {...}) registers a function to the change event. An alternative to this in plain javascript would be document.getElementByID("content-select").addEventListener("change", () => {...});
  let optionValue = $("#content-select").val(); // .val() asks jQuery to get the value of the selected option. This step looks up an element by its id, then gets the selected option, and stores it in the variable optionValue

  $(".info").addClass("d-none"); // . is a class identifier, so this step tells jQuery to get every element with the info class and add the class d-none to all of them. Vanilla js equivalent is to call document.getElementsByClassName("info") and then edit the classList. 
  $(".info-" + optionValue).removeClass("d-none"); // combine "info-" with the optionValue from above and use it as a class identifier to get the element that we want to un-hide, then remove the d-none class from it. vanilla js should probably use document.querySelector() for this.
});
&lt;/script&gt;</code></pre>

<hr />

<h3>Step 5: Working example</h3>
<div>This is the exact code from above copy-pasted and rendered!</div>

<div class="mb-3 w-100">
  <div class="row row-cols-1">
      <div class="col">
          <label for="content-select"><span class="fw-bold">Select the content you'd like to see:</span></label>
          <select id="content-select" class="form-select">
              <option value="" selected>No content selected...</option>
              <option value="lorem">I want to see lorem ipsum!</option>
              <option value="bee">According to all known laws of aviation...</option>
              <option value="cat">MEOW MEOW MEOW MEOW MEOW MEOW MEOW MEOW</option>
          </select>
      </div>
  </div>
</div>

<div>
  <div class="info info-lorem d-none">
      {% include_relative lorem-ipsum.html %}
  </div>
  <div class="info info-bee d-none">
    {% include_relative bee-movie.html %}
  </div>
  <div class="info info-cat d-none">
    {% include_relative cat-gif.html %}
  </div>
</div>

<script>
$("#content-select").change(() => { // $ tells the script to use jQuerey, # tells jQuery that this element is an ID, .change(() => {...}) registers a function to the change event. An alternative to this in plain javascript would be document.getElementByID("content-select").addEventListener("change", () => {...});
  let optionValue = $("#content-select").val(); // .val() asks jQuery to get the value of the selected option. This step looks up an element by its id, then gets the selected option, and stores it in the variable optionValue

  $(".info").addClass("d-none"); // . is a class identifier, so this step tells jQuery to get every element with the info class and add the class d-none to all of them. Vanilla js equivalent is to call document.getElementsByClassName("info") and then edit the classList. 
  $(".info-" + optionValue).removeClass("d-none"); // combine "info-" with the optionValue from above and use it as a class identifier to get the element that we want to un-hide, then remove the d-none class from it. vanilla js should probably use document.querySelector() for this.
});
</script>

<!-- Syntax highlighting -->
<script>
  hljs.highlightAll();
</script>
