---
layout: default
title: Symbol Encounter RNG (CFW)
permalink: /cfw/swsh/overworld/symbol/
---

<div class="title" style="background-color: #0c0038;">
    <h1 class="text-light text-center pt-3 pb-3">Overworld Symbol Encounters</h1>
</div>
<small class="text-muted mb-3 mt-0">
    Worked examples for manipulating Symbol encounters in any weather condition.
</small>
<hr />

<p>Random Symbol spawners generate different species of Pok&eacute;mon from an encounter table. A random number from 0 to 99 determines the encounter slot. The encounter tables are weather-dependent and remain the same until the weather in the area changes. Since the weather can change if the console date rolls past midnight (00:00), consider setting your system time before starting to avoid unexpected RNG advancements and Pok&eacute;mon spawns.</p>

<div class="alert alert-danger" style="border: 1px solid #b60606; border-radius: 8px; padding: 15px; background-color: #f8d7da; color: #721c24;">
    <span class="fw-bold">Important -</span> From here, we assume that you are familiar with key concepts described on the main page. If you are unsure about <a href="/cfw/swsh/overworld/main-page" target="_blank" rel="noopener noreferrer" style="color: #721c24; text-decoration: underline;">seed monitoring</a>, <a href="/cfw/swsh/overworld/advancing-the-rng-state" target="_blank" rel="noopener noreferrer" style="color: #721c24; text-decoration: underline;">advancement methods</a>, or <a href="/cfw/swsh/overworld/menu-close-prediction" target="_blank" rel="noopener noreferrer" style="color: #721c24; text-decoration: underline;">NPC calibration</a>, please review the relevant sections before continuing.
</div>

<p><span class="fw-bold">Figure 1 -</span> RNG Tool Setup</p>
<img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/symbol/getting-started-symbol.gif" alt="owrng-symbol-cfw-1" class="img-fluid clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/symbol/getting-started-symbol.gif">

<div class="card border-dark">
    <div class="anchored card-header text-light" style="background-color: #0c0038;" id="getting-started-symbol-cfw">
        <span class="fw-bold">Getting Started (Tool Setup)</span>
    </div>
    <div class="card-body card-bg">
        <h6 span class="fw-bold">Required Setup</h6>
        <ol>
            <li>Enter the IP address of your console in the main window and click <code class="fw-bold">Connect</code>. This will automatically read your current seed and save file details.</li>
            <li>Click <code class="fw-bold">Encounter Lookup</code> in the top toolbar to open a subwindow. Enter the desired species name in the search field and select a SYMBOL encounter.</li>
            <li>Close the <code class="fw-bold">Encounter Lookup</code> window, then input the relevant <code class="fw-bold">Location</code>, <code class="fw-bold">Weather</code>, and <code class="fw-bold">Species</code> information into the <code class="fw-bold">Encounter Settings</code> section.</li>
            <li>Enter the KO count for the Pok&eacute;mon you are hunting into the <code class="fw-bold">KOs</code> field. This ensures accurate prediction of extra shiny rolls from Brilliant Aura boosts.</li>
            <li>Adjust your search range using the <code class="fw-bold">+</code> field in <code class="fw-bold">Encounter Settings</code>, then configure additional search filters such as Shiny, Marks, IVs, Brilliant Aura, or Height.</li>
        </ol>

        <h6 class="fw-bold">KO Mechanic &amp; Brilliant Pok&eacute;mon</h6>
        <p>Brilliant Pok&eacute;mon appear with a golden aura in the overworld. They have a higher shiny rate and 2-3 guaranteed perfect IVs, making them ideal for high IV shiny hunting. These boosts depend on how many of that species that you have knocked out, which can be checked by <a class="clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/symbol/ko-count.png">viewing the Pok&eacute;dex entry</a>.</p>

        <p>At least 500 KOs on the target species are required to maximize Brilliant Aura bonuses. A more practical alternative is 100 KOs with Shiny Charm boosts, improving shiny rates from 1/1024 to 1/683.08. This provides a significant advantage with much less effort. For more details on Brilliant Aura and Shiny rates, refer to <a href="https://bulbapedia.bulbagarden.net/wiki/Brilliant_Pok%C3%A9mon#Appearance_rate" target="_blank">Bulbapedia</a>.</p>

        <p>Note that even though this value is frequently called the "KO count," the Pok&eacute;dex actually includes all completed battles whether they were captures or true KOs. The number by <code class="fw-bold">Number Battled</code> in the Pok&eacute;dex should be entered in owoow.</p>

        <p class="fw-bold" style="color: #c00000;"><small>KO COUNT MUST BE CONFIGURED PROPERLY IN OWOOW TO AVOID POTENTIAL ISSUES.</small></p>

    </div>
</div>
<br />

<p><span class="fw-bold">Figure 2 -</span> Game Setup</p>
<img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/symbol/game-setup-symbol.gif" alt="owrng-symbol-cfw-2" class="img-fluid clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/symbol/game-setup-symbol.gif">
<div class="card border-dark">
    <div class="anchored card-header text-light" style="background-color: #0c0038;" id="game-setup-symbol-cfw">
        <span class="fw-bold">Game Setup</span>
    </div>
    <div class="card-body card-bg">
        <ol>
            <li>Remove any Pok&eacute;mon currently stored in either {% include tooltips/nursery.html %}.</li>
            <li>Prepare your party so you have the correct lead Pok&eacute;mon and any catchers you plan to use.</li>
            <li>If you opened the Pok&eacute;dex at any point, such as when checking your KO count, this will generate Pok&eacute;dex Recommendations which alter the RNG. You should perform a date skip, reset the game to before you opened the Pok&eacute;dex, or account for it in the program by clicking the <code class="fw-bold">Refresh</code> button.</li>
            <li>Make sure your current console date has the correct <a class="clickable-link">weather condition<a> to spawn your Pok&eacute;mon.</li>
            <li>Go to the the area with the random spawner for your target Pok&eacute;mon. If your spawner is in grass, try to pick the largest grass patch in the area where you can position comfortably and approach it from a wide border.</li>
            <li>Move far enough away to despawn all Pok&eacute;mon at the spawner you are targeting. Position yourself as close to the spawner as possible without actually spawning anything in the overworld.</li>
            <ul>
                <li><span class="fw-bold">IMPORTANT</span>: To confirm that the Pok&eacute;mon has been fully despawned, look for a <a class="clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/static/dust-cloud.png">dust cloud</a> or <a class="clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/static/water-splash.png">puddle</a> beneath the Pok&eacute;mon when it spawns. This may not be possible to see if the Pok&eacute;mon is flying or in tall grass. It is not enough for the Pok&eacute;mon's model to disappear! Make sure you are past the range where its model shrinks down and disappears from view. If you stand too close to the spawner and the Pok&eacute;mon is still spawned into the game, your RNG manipulation attempt will fail since a new Pok&eacute;mon cannot spawn in its place.</li>
                <li>Consider performing a test run to confirm your positioning. Move to a spot where you think the Pok&eacute;mon is fully despawned. Take note of this position. Run towards the spawner and make sure the Pok&eacute;mon appears correctly. You can then run far back to make sure it fully despawns and then go back to the original position you started from.</li>
                <li>Try to find a position where few or no overworld Pok&eacute;mon are spawned. This is to reduce the chance of extra advances when you are performing the RNG manipulation attempt. You can despawn any static spawners nearby or in your way. These will remain despawned as long as you do not let the date advance.</li>
            </ul>
            <li>Save the game.</li>
        </ol>
    </div>
</div>
<br>

<a type="button" class="list-group-item list-group-item-primary text-end" style="border-radius: 0.25rem;" href="/cfw/swsh/overworld/lead-ability-dex-rec" target="_blank" rel="noopener noreferrer">
    Unsure about lead abilities &amp; spawn boosting? <span class="fw-bold">click here to learn more</span>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
    </svg>
</a>

<hr /><div class="title" style="background-color: #0c0038;" id="the-basics">
    <h1 class="text-light text-center pt-3 pb-3">Advancing Towards a Target</h1>
</div>
<small class="text-muted mb-3 mt-0">
    Step-by-step instructions for hitting a target frame can be found here.
</small>
<hr />

<p>The instructions for hitting a target frame depend on the selected weather condition. Rain/Thunderstorm are considered "advanced" and may be challenging for beginners. If this is your first time attempting this type of RNG manipulation, we recommended you start with a different weather condition to familiarize yourself with the general process.</p>

<div class="mb-3 w-100">
    <div class="row row-cols-1">
        <div class="col">
            <label for="moisture-select"><span class="fw-bold">Select a weather condition:</span></label>
            <select id="moisture-select" class="form-select">
                <option value="">No weather condition selected...</option>
                <option value="dry">I am NOT in Rain/Thunderstorm!</option>
                <option value="wet">I am in Rain/Thunderstorm!</option>
            </select>
        </div>
    </div>
</div>

<div>
    <div class="info info-dry d-none">
        {% include_relative dry.html %}
    </div>
    <div class="info info-wet d-none">
        {% include_relative wet.html %}
    </div>
</div>
