---
layout: default
title: Static Encounter RNG (RETAIL)
permalink: /retail/swsh/new-overworld/static/
---

<div class="title" style="background-color: #0c0038;">
    <h1 class="text-light text-center pt-3 pb-3">Overworld Static Encounters</h1>
</div>
<small class="text-muted mb-3 mt-0">
    Worked examples for manipulating Static encounters in any weather condition.
</small>
<hr />

<p>Static spawners consistently generate the same species of Pok&eacute;mon until the weather changes, which can occur at midnight (00:00). Be mindful of your system time to prevent unexpected Pok&eacute;mon spawns due to incorrect weather conditions.</p>

<div class="alert alert-danger" style="border: 1px solid #b60606; border-radius: 8px; padding: 15px; background-color: #f8d7da; color: #721c24;">
    <span class="fw-bold">Important -</span> This guide assumes you are already familiar with the basic concepts outlined on the main page. If you're unsure about topics such as <a href="/retail/swsh/new-overworld/seed-finding-and-monitoring" target="_blank" rel="noopener noreferrer" style="color: #721c24; text-decoration: underline;">seed finding</a>, <a href="/retail/swsh/new-overworld/advancing-the-rng-state" target="_blank" rel="noopener noreferrer" style="color: #721c24; text-decoration: underline;">advancement methods</a>, or <a href="/retail/swsh/new-overworld/menu-close-prediction" target="_blank" rel="noopener noreferrer" style="color: #721c24; text-decoration: underline;">NPC calibration</a>, please revisit those pages before continuing.
</div>

<span class="fw-bold">Figure 1 -</span> RNG Tool Setup<p></p>
<img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/retail/swsh/overworld/static/getting-started-static.gif" alt="owrng-static-retail-1" class="img-fluid clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/retail/swsh/overworld/static/getting-started-static.gif"><p></p>

<div class="card border-dark">
    <div class="anchored card-header text-light" style="background-color: #0c0038;" id="getting-started-static-cfw">
        <span class="fw-bold">Getting Started (Tool Setup):</span>
    </div>
    <div class="card-body card-bg">
        <ol>
            <li>In the main window, enter your TID/SID, select your game version, and check the Shiny/Mark Charm checkboxes if these items are present in your save file.</li>
            <p></p>
            <li>Click <code class="fw-bold">Encounter Lookup</code> in the top toolbar to open a sub-window. Enter the desired species name in the search field and select a STATIC encounter.</li>
            <p></p>
            <li>Close the <code class="fw-bold">Encounter Lookup</code> window, then input the relevant <code class="fw-bold">Location</code>, <code class="fw-bold">Weather</code>, and <code class="fw-bold">Species</code> information into the <code class="fw-bold">Encounter Settings</code> section.</li>
            <p></p>
            <li>Adjust your search range using the <code class="fw-bold">+</code> field in <code class="fw-bold">Encounter Settings</code>, then configure additional search filters such as Shiny, Marks, IVs, or Height.</li>
        </ol>
    </div>
</div>
<br />

<span class="fw-bold">Figure 2 -</span> Game Setup<p></p>
<img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/retail/swsh/overworld/static/game-setup-static.gif" alt="owrng-static-retail-2" class="img-fluid clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/retail/swsh/overworld/static/game-setup-static.gif"><p></p>

<div class="card border-dark">
    <div class="anchored card-header text-light" style="background-color: #0c0038;" id="game-setup-static-retail">
        <span class="fw-bold">Game Setup:</span>
    </div>
    <div class="card-body card-bg">
        <ol>
            <li>Remove any Pok&eacute;mon currently stored in the {% include tooltips/daycare.html %} then fly to the required location and run around until you have found the spawner that contains your desired Pok&eacute;mon.</li>
            <p></p>
            <li>Move far enough away to completely despawn your target Pok&eacute;mon, set the required weather condition, then save the game. Position yourself as close to the Pok&eacute;mon's spawn border as possible without actually spawning it in the overworld.</li>
            <p></p>
            <li>If you cannot find an optimal position, you can knock out any additional static spawners blocking your path. These will remain despawned as long as you do not move too far away or reload the area.</li>
            <p></p>
            <li>Once positioned correctly, add your desired lead Pok&eacute;mon to your party and save the game again. For detailed information on lead abilities and their effects, click the button below.</li>
        </ol>

        <p>To confirm ideal positioning, look for a <a class="clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/static/dust-cloud.png">dust cloud</a> or <a class="clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/static/water-splash.png">puddle</a> beneath the Pok&eacute;mon when it spawns. If these effects are not visible, you are standing too close to the spawner. (Note: This may be difficult to see if your target Pok&eacute;mon is in tall grass or flying.)</p>
    </div>
</div>
<br>

<a type="button" class="list-group-item list-group-item-primary text-end" style="border-radius: 0.25rem;" href="/cfw/swsh/new-overworld/lead-ability-dex-rec" target="_blank" rel="noopener noreferrer">
    Unsure about lead abilities? <span class="fw-bold">click here to learn more</span>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
    </svg>
</a>

<hr /><div class="title" style="background-color: #0c0038;" id="the-basics">
    <h1 class="text-light text-center pt-3 pb-3">Advancing Towards A Target</h1>
</div>
<small class="text-muted mb-3 mt-0">
    Step-by-step instructions for hitting a target frame can be found here.
</small>
<hr />

<p>The instructions for hitting a target frame depend on the selected weather condition. Rain and Thunderstorm are considered "advanced" and may be challenging for beginners. If this is your first time attempting this type of RNG manipulation it is recommended to start with a different weather condition to familiarize yourself with the general process.</p>

<div class="mb-3 w-100">
    <div class="row row-cols-1">
        <div class="col">
            <label for="moisture-select"><span class="fw-bold">Select a weather condition:</span></label>
            <select id="moisture-select" class="form-select">
                <option value="">No weather condition selected...</option>
                <option value="dry">I am NOT in Rain/Thunderstorm!</option>
                <option value="wet">I am in Rain/Thunderstorm!</option>
            </select>
        </div>
    </div>
</div>

<div>
    <div class="info info-dry d-none">
        {% include_relative dry.html %}
    </div>
    <div class="info info-wet d-none">
        {% include_relative wet.html %}
    </div>
</div>
