---
layout: default
title: Fishing Encounter RNG (CFW)
permalink: /cfw/swsh/overworld/fishing/
---

<div class="title" style="background-color: #0c0038;">
    <h1 class="text-light text-center pt-3 pb-3">Overworld Fishing Encounters</h1>
</div>
<small class="text-muted mb-3 mt-0">
    Worked examples for manipulating Fishing encounters in any weather condition.
</small>
<hr />

<p>Fishing pools are random spawners that generate different species of Pok&eacute;mon from an encounter table. A random number from 0 to 99 determines the encounter slot. The encounter table is the same regardless of weather, and fishing encounters can have any Weather Mark that is possible in the area. Since the weather can change if the console date rolls past midnight (00:00), consider setting your system time before starting to avoid unexpected RNG advancements or Weather Marks.</p>

<div class="alert alert-danger" style="border: 1px solid #b60606; border-radius: 8px; padding: 15px; background-color: #f8d7da; color: #721c24;">
    <span class="fw-bold">Important -</span> From here, we assume that you are familiar with key concepts described on the main page. If you are unsure about <a href="/cfw/swsh/overworld/main-page" target="_blank" rel="noopener noreferrer" style="color: #721c24; text-decoration: underline;">seed monitoring</a>, <a href="/cfw/swsh/overworld/advancing-the-rng-state" target="_blank" rel="noopener noreferrer" style="color: #721c24; text-decoration: underline;">advancement methods</a>, or <a href="/cfw/swsh/overworld/menu-close-prediction" target="_blank" rel="noopener noreferrer" style="color: #721c24; text-decoration: underline;">NPC calibration</a>, please review the relevant sections before continuing.
</div>

<span class="fw-bold">Figure 1 -</span> RNG Tool Setup<p></p>
<img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/fishing/getting-started-fishing.gif" alt="owrng-fishing-cfw-1" class="img-fluid clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/fishing/getting-started-fishing.gif"><p></p>

<div class="card border-dark">
    <div class="anchored card-header text-light" style="background-color: #0c0038;" id="getting-started-fishing-cfw">
        <span class="fw-bold">Getting Started (Tool Setup)</span>
    </div>
    <div class="card-body card-bg">
        <h6 span class="fw-bold">Required Setup</h6>
        <ol>
            <li>Enter the IP address of your console in the main window and click <code class="fw-bold">Connect</code>. This will automatically read your current seed and save file details.</li>
            <p></p>
            <li>Click <code class="fw-bold">Encounter Lookup</code> in the top toolbar to open a sub-window. Enter the desired species name in the search field and select a FISHING encounter.</li>
            <p></p>
            <li>Close the <code class="fw-bold">Encounter Lookup</code> window, then input the relevant <code class="fw-bold">Location</code>, <code class="fw-bold">Weather</code>, and <code class="fw-bold">Species</code> information into the <code class="fw-bold">Encounter Settings</code> section.</li>
            <p></p>
            <li>Enter the KO count for the Pok&eacute;mon you are hunting into the <code class="fw-bold">KOs</code> field. This ensures accurate prediction of extra shiny rolls from Brilliant Aura boosts.</li>
            <p></p>
            <li>Adjust your search range using the <code class="fw-bold">+</code> field in <code class="fw-bold">Encounter Settings</code>, then configure additional search filters such as Shiny, Marks, IVs, Brilliant Aura, or Height.</li>
        </ol>

        <h6 class="fw-bold">KO Mechanic &amp; Brilliant Pok&eacute;mon</h6>
        <p>Brilliant Pok&eacute;mon appear with a golden aura in the overworld. Brilliant fishing pools glow without a Pok&eacute;mon spawned. They have a higher shiny rate and 2-3 guaranteed perfect IVs, making them ideal for high IV shiny hunting. These boosts depend on how many of that species that you have knocked out, which can be checked by <a class="clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/symbol/ko-count.png">viewing the Pok&eacute;dex entry</a>.</p>

        <p>At least 500 KOs on the target species are required to maximize Brilliant Aura bonuses. A more practical alternative is 100 KOs with Shiny Charm boosts, improving shiny rates from 1/1024 to 1/683.08. This provides a significant advantage with much less effort. For more details on Brilliant Aura and Shiny rates, refer to <a href="https://bulbapedia.bulbagarden.net/wiki/Brilliant_Pok%C3%A9mon#Appearance_rate" target="_blank">Bulbapedia</a>.</p>

        <p class="fw-bold" style="color: #c00000;"><small>KO COUNT MUST BE CONFIGURED PROPERLY IN OWOOW TO AVOID POTENTIAL ISSUES.</small></p>
    </div>
</div>
<br />

<span class="fw-bold">Figure 2 -</span> Game Setup<p></p>
<img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/fishing/game-setup-fishing.gif" alt="owrng-fishing-cfw-2" class="img-fluid clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/fishing/game-setup-fishing.gif"><p></p>

<div class="card border-dark">
    <div class="anchored card-header" style="background-color: #0c0038;" id="game-setup-fishing-cfw">
        <span class="fw-bold text-light">Game Setup</span>
    </div>
    <div class="card-body card-bg">
        <ol>
            <li>Remove any Pok&eacute;mon currently stored in either {% include tooltips/nursery.html %}.</li>
            <p></p>
            <li>Prepare your party so you have the correct lead Pok&eacute;mon and any catchers you plan to use.</li>
            <p></p>
            <li>If you opened the Pok&eacute;dex at any point, such as when checking your KO count, this will generate Pok&eacute;dex Recommendations which alter the RNG. You should perform a date skip, reset the game to before you opened the Pok&eacute;dex, or account for it in the program.</li>
            <p></p>
            <li>Make sure your current console date has a suitable weather condition for your Pok&eacute;mon if you are targeting a specific Weather Mark.</li>
            <p></p>
            <li>Go to the the area with the fishing pool for your target Pok&eacute;mon. Most fishing pools in an area have use the same Pok&eacute;mon table, but there are a few exceptions such as:</li>
            <p></p>
            <ul>
                <li>20% Magikarp in the high-level part of Slumber Weald can only spawn from the fishing spot north of a log bridge. (<a class="clickable-image" data-image="https://github.com/Billo-PS/billo-guides-images/blob/main/cfw/swsh/overworld/fishing/fishing-magikarp.png">screenshot</a>)</li>
                <p></p>
                <li>10% Barboach in Motostoke can only spawn in the fishing pool accessible through the spinning wheel on the top level, next to the Steel Beam tutor.  (<a class="clickable-image" data-image="https://github.com/Billo-PS/billo-guides-images/blob/main/cfw/swsh/overworld/fishing/fishing-barboach.png">screenshot</a>)</li>
                <p></p>
                <li>5% Wishiwashi in Hulbury can only spawn in the westernmost fishing pool. (<a class="clickable-image" data-image="https://github.com/Billo-PS/billo-guides-images/blob/main/cfw/swsh/overworld/fishing/fishing-wishiwashi.png">screenshot</a>)</li>
                <p></p>
                <li>1% Lapras in Route 9 (Circhester Bay) can only spawn in the fishing pool by Swimmer Logan. (<a class="clickable-image" data-image="https://github.com/Billo-PS/billo-guides-images/blob/main/cfw/swsh/overworld/fishing/fishing-lapras.png">screenshot</a>)</li>
                <p></p>
            </ul>
            <p></p>
            <li>Move far enough away to completely despawn the fishing pool. Position yourself as close to the fishing pool as possible without respawning it.</li>
            <p></p>
            <ul>
                <li>Fishing pools will not spawn while the player is riding a bike. All positioning should be done on foot. Do not mount your bike again after confirming that your positioning is correct.</li>
                <p></p>
                <li>If you cannot find an optimal position, you can despawn any static spawners nearby or in your way. These will remain despawned as long as you do not let the date advance.</li>
            </ul>
            <p></p>
            <li>Save the game.</li>
            <p></p>
        </ol>
    </div>
</div>
<br>

<a type="button" class="list-group-item list-group-item-primary text-end" style="border-radius: 0.25rem;" href="/cfw/swsh/overworld/lead-ability-dex-rec" target="_blank" rel="noopener noreferrer">
    Unsure about lead abilities &amp; spawn boosting? <span class="fw-bold">click here to learn more</span>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
    </svg>
</a>

<hr /><div class="title" style="background-color: #0c0038;" id="the-basics">
    <h1 class="text-light text-center pt-3 pb-3">Advancing Towards a Target</h1>
</div>
<small class="text-muted mb-3 mt-0">
    Step-by-step instructions for hitting a target frame can be found here.
</small>
<hr />

<p>The instructions for hitting a target frame depend on the selected weather condition. Rain/Thunderstorm are considered "advanced" and may be challenging for beginners. If this is your first time attempting this type of RNG manipulation, we recommended you start with a different weather condition to familiarize yourself with the general process.</p>

<div class="mb-3 w-100">
    <div class="row row-cols-1">
        <div class="col">
            <label for="moisture-select"><span class="fw-bold">Select a weather condition:</span></label>
            <select id="moisture-select" class="form-select">
                <option value="">No weather condition selected...</option>
                <option value="dry">I am NOT in Rain/Thunderstorm!</option>
                <option value="wet">I am in Rain/Thunderstorm!</option>
            </select>
        </div>
    </div>
</div>

<div>
    <div class="info info-dry d-none">
        {% include_relative dry.html %}
    </div>
    <div class="info info-wet d-none">
        {% include_relative wet.html %}
    </div>
</div>
