---
layout: default
title: Roaming Encounter RNG (CFW)
permalink: /cfw/swsh/new-overworld/roaming/
---

<div class="title" style="background-color: #0c0038;">
    <h1 class="text-light text-center pt-3 pb-3">Overworld Roaming Encounters</h1>
</div>
<small class="text-muted mb-3 mt-0">
    Worked examples for manipulating Articuno, Zapdos and Moltres in any weather condition.
</small>
<hr />

<p>The roaming Galarian bird trio, Articuno, Zapdos, &amp; Moltres can be found in their respective Wild Areas after completing the <a href="https://www.ign.com/wikis/pokemon-sword-shield/How_to_Catch_Roaming_Legendary_Birds_-_Articuno,_Zapdos,_Moltres" target="_blank">Crown Tundra DLC - Legendary Quest 3</a>. These Pok&eacute;mon are generated upon entering a loading zone, and their stat details (IVs/Nature/Mark) remain locked in place until the area is reloaded.</p>

<p>By using a technique known as "fly manip", we can precisely respawn the bird on a specific frame to generate it with the desired IVs, Nature, and Marks. Once the bird respawns, we can chase it down and initiate the encounter.</p>

<div class="alert alert-danger" style="border: 1px solid #b60606; border-radius: 8px; padding: 15px; background-color: #f8d7da; color: #721c24;">
    <span class="fw-bold">Important -</span> From here it is assumed that you are familiar with key concepts described on the main page. If you are unsure about topics like <a href="/cfw/swsh/new-overworld/main-page" target="_blank" rel="noopener noreferrer" style="color: #721c24; text-decoration: underline;">seed monitoring</a>, <a href="/cfw/swsh/new-overworld/advancing-the-rng-state" target="_blank" rel="noopener noreferrer" style="color: #721c24; text-decoration: underline;">advancement methods</a>, or <a href="/cfw/swsh/new-overworld/menu-close-prediction" target="_blank" rel="noopener noreferrer" style="color: #721c24; text-decoration: underline;">NPC calibration</a>, please review the relevant sections before continuing.
</div>

<p><span class="fw-bold">Figure 1 -</span> RNG Tool Setup</p>
<img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/roaming/getting-started-roaming.gif" alt="owrng-roaming-1" class="img-fluid clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/roaming/getting-started-roaming.gif"><p></p>

<div class="card border-dark">
    <div class="anchored card-header text-light" style="background-color: #0c0038;" id="getting-started-roaming-cfw">
        <span class="fw-bold">Getting Started (Tool Setup):</span>
    </div>
    <div class="card-body card-bg">
        <ol>
            <li>Enter the IP address of your console in the main window and click <code class="fw-bold">Connect</code>. This will automatically read your current seed and save file details.</li>
            <p></p>
            <li>Select <code class="fw-bold">Static</code> in the <code class="fw-bold">Encounter Settings</code> column and select the following <code class="fw-bold">Area:</code> based on your desired bird:</li>
            <ul>
                <li>For Articuno-Galar, select <span class="fw-bold">Giant's Bed</span>.</li>
                <li>For Zapdos-Galar, select <span class="fw-bold">East Lake Axewell</span>.</li>
                <li>For Moltres-Galar, select <span class="fw-bold">Challenge Road</span>.</li>
                <li>After you have selected a location, set your target Pok&eacute;mon accordingly.</li>
            </ul>
            <p></p>
            <li>Select your current or desired weather condition, Keep in mind that weather is subject to change if the system time reaches midnight (00:00).</li>
            <p></p>
            <li>Under <code class="fw-bold">Advanced Settings</code>, click the <code class="fw-bold">Fly?</code> checkbox. This is where we will consider the necessary values for fly manip. Leave the <code class="fw-bold">Area Load</code> &amp; <code class="fw-bold">Fly NPCs</code> at 0 for now.</li>
            <p></p>
            <li>Adjust your search range using the <code class="fw-bold">+</code> field in <code class="fw-bold">Encounter Settings</code>, then configure additional search filters such as Marks, IVs, or Height.</li>
        </ol>

        <p class="fw-bold" style="color: #c00000;"><small>DO NOT APPLY SHINY SEARCH FILTERS! THESE ENCOUNTERS ARE SHINY LOCKED, FILTERING FOR SHINY VARIANTS WILL NEVER PRODUCE A VALID SEARCH RESULT.</small></p>

    </div>
</div>
<br />

<p><span class="fw-bold">Figure 2 -</span> Game Setup</p>
<img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/roaming/game-setup-roaming.gif" alt="owrng-roaming-2" class="img-fluid clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/roaming/game-setup-roaming.gif"><p></p>

<div class="card border-dark">
    <div class="anchored card-header text-light" style="background-color: #0c0038;" id="game-setup-roaming-cfw">
        <span class="fw-bold">Game Setup:</span>
    </div>
    <div class="card-body card-bg">
        <ol>
            <li>You will need to unlock the fly points shown in Figure 2 if you have not already done so, the fly points for Articuno and Moltres will require DLC story progression.</li>
            <ul>
                <li>For <span class="fw-bold">Articuno-Galar</span>, unlock the fly point to the east of <a class="clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/roaming/giants-bed-fly-point.png">Giant's Bed</a> by interacting with the Regi cave close by.</li>
                <li>For <span class="fw-bold">Zapdos-Galar</span>, unlock the fly point below <a class="clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/roaming/motostoke-fly-point.png">Motostoke</a>, this fly point should be active already through main story progression.</li>
                <li>For <span class="fw-bold">Moltres-Galar</span>, unlock the fly point at the <a class="clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/roaming/tower-of-darkness-fly-point.png">Tower of Darkness</a>, DLC progress will vary depending on which tower was initially picked.</li>
            </ul>
            <p></p>
            <li>Remove all the Pok&eacute;mon in your party until you have only one left. This is a crucial step as the RNG tool assumes you have a single Pok&eacute;mon in your party.</li>
            <ul>
                <li>It is recommended to use a Pok&eacute;mon with the Ability "Synchronize" that has the Nature you are aiming for on your desired bird.</li>
            </ul>
            <p></p>
            <li>Visit the <a class="clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/roaming/memory-check-npc.png">Memory Check NPC</a> found in any Pok&eacute;Center and repeatedly rename your remaining Pok&eacute;mon until it has a memory intensity of "fondly remembers".</li>
            <ul>
                <li>The simplest way to achieve a "fondly" intensity memory is by renaming your Pok&eacute;mon multiple times. Confirm the memory intensity by speaking to the NPC.</li>
            </ul>
        </ol>

        <p>Box memories are common types of memory that have an intensity of "definitely remembers", which is one step away from being "fondly remembers". For the most convenient and quickest solution, rename a Pok&eacute;mon that already has a memory intensity of "definitely remembers".</p>

    </div>
</div>
<br>

<p><span class="fw-bold">Figure 3 -</span> Fondly Memory Demonstration</p>
<img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/roaming/fondly-memory.png" alt="owrng-roaming-3" class="img-fluid clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/roaming/fondly-memory.png"><p></p>

<hr />
<div class="title" style="background-color: #0c0038;">
    <h1 class="text-light text-center pt-3 pb-3">Advanced Settings</h1>
</div>
<small class="text-muted mb-3 mt-0">
    The necessary values to enter into Advanced Settings based on your desired bird.
</small>
<hr />

<p>This section provides information about the values required for the <code class="fw-bold">Advanced Settings</code> fields. These values will vary based on the bird you are manipulating and whether the current weather is Rain/Thunderstorm or not. Select your desired weather condition in the drop-down menu below to be presented with a table that contains the relevant values for your chosen bird.</p>

<p>Rain and Thunderstorm are considered "advanced" and may be challenging for beginners. If this is your first time attempting this type of RNG manipulation it is recommended to start with a different weather condition to familiarize yourself with the general process.</p>
<div class="mb-3 w-100">
    <div class="row row-cols-1">
        <div class="col">
            <label for="moisture-select"><span class="fw-bold">Select a weather condition:</span></label>
            <select id="moisture-select" class="form-select">
                <option value="">No weather condition selected...</option>
                <option value="dry">I am NOT in Rain/Thunderstorm!</option>
                <option value="wet">I am in Rain/Thunderstorm!</option>
            </select>
        </div>
    </div>
</div>

<div>
    <div class="info info-dry d-none">
        {% include_relative dry.html %}
    </div>
    <div class="info info-wet d-none">
        {% include_relative wet.html %}
    </div>
</div>

<hr /><div class="title" style="background-color: #0c0038;" id="the-basics">
    <h1 class="text-light text-center pt-3 pb-3">Advancing Towards A Target</h1>
</div>
<small class="text-muted mb-3 mt-0">
    Step-by-step instructions for hitting a target frame can be found here.
</small>
<hr />

<p><span class="fw-bold">Figure 4 -</span> Relevant Calibration</p>
<img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/roaming/relevant-calibration.png" alt="owrng-roaming-4" class="img-fluid clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/roaming/relevant-calibration.png"><p></p>

<div class="card border-dark">
    <div class="anchored card-header" style="background-color: #0c0038;" id="settings-toggles-roaming">
        <span class="fw-bold text-light">Settings Toggles:</span>
    </div>
    <div class="card-body card-bg">
        <ol>
            <li>Ensure you are on a freshly advanced day - If you have touched anything on the map today or are not sure, perform a date advance. This refreshes the overworld state.</li>
            <p></p>
            <li>Fly to the required location for your target bird: East Giant's Bed (Articuno), East Lake Axewell (Zapdos), or Challenge Road (Moltres).</li>
            <p></p>
            <li>Confirm that you have a single Pok&eacute;mon in your party, this should be the same Pok&eacute;mon that was given a "fondly" intensity memory earlier.</li>
            <p></p>
            <li>Set the current weather condition to anything that is NOT Rain/Thunderstorm both in-game and on owoow. Save the game after doing so.</li>
            <p></p>
            <li>Calibrate your current menu close NPC count, then close the <code class="fw-bold">MenuCloseTimeline</code> sub-window. Note down your current NPC count in Notepad or similar.</li>
            <p></p>
            <li>Set your current <a class="clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/roaming/menu-close-npc-0.png">menu close NPC count</a> to 0 for now, but ensure that the <code class="fw-bold">Consider Menu Close?</code> checkbox remains activated.</li>
            <p></p>
            <li>Refer to the tables above, ensure that you are looking at the correct table based on your chosen weather, target bird, or game version/progression (Moltres).</li>
            <p></p>
            <ul>
                <li>Set your <code class="fw-bold">Area Load</code> value in the <code class="fw-bold">Advanced Settings</code> on owoow, this will be the same regardless of weather condition.</li>
                <li>If you are NOT in Rain/Thunderstorm, enter the <code class="fw-bold">Total Fly NPC</code> value into the Fly NPC field in <code class="fw-bold">Advanced Settings</code>.</li>
                <li>If you are in Rain/Thunderstorm, enter the <code class="fw-bold">NPC 0</code> value into the menu close NPC field, then enter the <code class="fw-bold">NPC 1</code> value into the Fly NPC field in <code class="fw-bold">Advanced Settings</code>.</li>
                <li>Enter the <code class="fw-bold">Rain Tick</code> value depending on if you are in Rain or Thunderstorm, if this is your first time, pick the lowest possible value (7 for Rain, 14 for Thunder).</li>
            </ul>
        </ol>

        <p>The calibration values (<code class="fw-bold">Consider Menu Close?</code> / <code class="fw-bold">Menu Close NPCs</code> <code class="fw-bold">Area Load</code> / <code class="fw-bold">Fly NPCs</code> / <code class="fw-bold">Rain Ticks</code>) will account for the advances consumed when exiting from the party list -> main pause menu -> opening map -> flying into the area that contains your bird.</p>

        <p><span class="fw-bold">After correctly setting your calibration values you can begin searching for targets.</span></p>

    </div>
</div>
<br>

<a type="button" class="list-group-item list-group-item-primary text-end" style="border-radius: 0.25rem;" href="/cfw/swsh/new-overworld/menu-close-prediction" target="_blank" rel="noopener noreferrer">
    Forgot how to calibrate NPC count? <span class="fw-bold">click here for a refresher</span>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
    </svg>
</a><p></p>

<p><span class="fw-bold">Figure 5 -</span> Target Bird Found</p>
<img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/roaming/target-bird-found.png" alt="owrng-roaming-5" class="img-fluid clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/roaming/target-bird-found.png"><p></p>

<div class="card border-dark">
    <div class="anchored card-header" style="background-color: #0c0038;" id="advancing-to-target-roaming">
        <span class="fw-bold text-light">Advancing to the Target</span>
    </div>
    <div class="card-body card-bg">
        <p>In this example, 6IV Zapdos with the Rare Mark appears in a {% include tooltips/clusters.html %} between advances x-y. The the relevant values we need were calibrated earlier, and for this case, no direction should be held when closing the pause menu to maximize the chances of hitting the correct frame.</p>

        <h6 class="fw-bold">Step-by-Step:</h6>
        <ol>
            <li>Advance toward your target using either <a class="clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/advancing-rng-state/wet-weather.gif">wet weather</a>, <a class="clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/advancing-rng-state/npc-activation.gif">npc activation</a> or <a class="clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/advancing-rng-state/date-skipping.gif">date skipping</a>. Consider using wet weather instead if you wish to maintain calibration.</li>
            <p></p>
            <li>Stop advancing once you are a few thousand advances before your target, then fly back into the area that contains your desired bird if you have moved.</li>
            <p></p>
            <li>If date skipping was used to advance the RNG state, you will need to re-calibrate your current menu close NPC count and update the calibration checkboxes accordingly.</li>
            <p></p>
            <li>Ensure that the <code class="fw-bold">Consider Menu Close?</code> checkbox is checked in the main window, and confirm that your calibration checkboxes are filled in correctly.</li>
            <p></p>
            <li>Pause the game, then use <a class="clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/advancing-rng-state/animations.gif">animations</a> to advance the RNG state until you are approximately 100 advances away from your target.</li>
            <p></p>
            <li>Keep the game open on the Pok&eacute;mon party list from this point. Reconnect to owoow and search for your target again, then use animations to reach your target frame.</li>
            <p></p>
            <li>Back out to the main pause menu and open the map, then fly into the required location for your desired bird.</li>
            <p></p>
            <li>Chase down the bird and encounter it to verify that your result matches what is expected. If your bird does NOT match, refer to the troubleshooting section below.</li>
        </ol>

        <details>
            <summary><span class="fw-bold">Troubleshooting</span></summary>
            <p>Enter the IVs of the bird you hit into the search filters of owoow, and remove any Mark/Height filters that are currently in place. The goal is to find the bird you hit by changing the calibration values.</p>

            <ul>
                <li>If your target is in Rain or Thunderstorm, change the Rain Tick value to whichever value you did not use (e.g, if you used 14 in Thunderstorm, try 16).</li>
                <li>If your target is Moltres, confirm that Wailord is active/inactive, and that the <code class="fw-bold">Area Load</code> calibration is properly configured (11 for inactive, 12 for active).</li>
                <li>If your target is Moltres, confirm that you are using the correct table to calibrate your values. Game progression and game version is important.</li>
                <li>If you still cannot find the bird you hit, consider tweaking the values inside the Menu Close/Fly NPCs fields until you find a match.</li>
                <li>After finding your bird, retry and confirm that your new calibration values are correct. Report any new NPC values to me (Billo) on Discord (linked below).</li>
            </ul>
        </details>
    </div>
</div>
<br>

<p><span class="fw-bold">Figure 6 -</span> Flying Into Area</p>
<img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/roaming/flying-into-area.gif" alt="owrng-roaming-6" class="img-fluid clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/roaming/flying-into-area.gif"><p></p>

<p>Exiting the Pok&eacute;mon Party list on the required target frame, opening the map, then flying into East Lake Axewell to spawn our desired Zapdos-Galar.</p>

<p><span class="fw-bold">Figure 7 -</span> Result Found</p>
<img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/roaming/result-found-bird-cfw.png" alt="owrng-roaming-7" class="img-fluid clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/roaming/result-found-bird-cfw.png"><p></p>

<p><span class="fw-bold">That's all there is to RNG manipulating Roaming Legendary Bird encounters (CFW)!</span></p>

<a type="button" class="list-group-item list-group-item-primary text-end" style="border-radius: 0.25rem;" href="/cfw/swsh/new-overworld/main-page">
    Head back to the <span class="fw-bold">main page</span>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
    </svg>
</a><p></p>

