---
layout: default
title: Legends Arceus Legendary/Mythical RNG (CFW Main RNG)
permalink: /cfw/la/legendary/main/
---

<div class="title" style="background-color: #6f3b97;">
    <h1 class="text-light text-center pt-3 pb-3">Main RNG (CFW)</h1>
</div>
<small class="text-muted mb-3 mt-0">
    Step-by-step instructions for manipulating Legendary &amp; Mythical Pok&eacute;mon in the Main RNG category.
</small>
<hr />

<div class="alert alert-danger" style="border: 1px solid #b60606; border-radius: 8px; padding: 15px; background-color: #f8d7da; color: #721c24;">
    <span class="fw-bold">Important -</span> This section of the guide is unfinished, check back in later!
</div>

<p>This page provides instructions and examples of how you can perform Legends: Arceus Main RNG manipulation for Legendary &amp; Mythical Pok&eacute;mon using <a href="https://github.com/LegoFigure11/parliament/releases" target="_blank" rel="noopener noreferrer">ParLiAment</a>. From here it is assumed that you have followed all of the instructions found on the main page and have confirmed that Pok&eacute;mon falls into the Main RNG category.</p>

<a type="button" class="list-group-item list-group-item-primary text-end" style="border-radius: 0.25rem;" href="/cfw/la/legendary/" target="_blank" rel="noopener noreferrer">
    Unsure if your Pok&eacute;mon is in the Main RNG category? <span class="fw-bold">Head back to the main page!</span>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
    </svg>
</a>

<div class="card border-dark">
    <div class="anchored card-header" style="background-color: #6f3b97;" id="initial-game-setup">
        <span class="fw-bold text-light">Initial Game Setup</span>
    </div>
    <div class="card-body card-bg">
        <p>Before doing anything else, make sure your game is properly set up to ensure that the RNG process is as smooth as possible. It is assumed that you have progressed the story enough to spawn your target Pok&eacute;mon. If you have not yet done so you should go back and do this now.</p>

        <h6 class="fw-bold">In-game Requirements</h6>
        <ul>
            <li>If your target is Dialga/Palkia (Base form), Giratina, or Regigigas, bring the following:</li>
            <ul>
                <li>Plenty of healing items to keep your Pok&eacute;mon in good health.</li>
                <li>Plenty of Pok&eacute; Balls to capture your target Pok&eacute;mon.</li>
                <li>A Pok&eacute;mon capable of inflicting status conditions onto your target Pok&eacute;mon.</li>
            </ul>
            <li>If your target is Dialga/Palkia (Origin form) or Arceus, bring the following:</li>
            <ul>
                <li>Good game sense and strategy to handle the difficult boss battle.</li>
                <li>A full team of 6 Pok&eacute;mon in your party.</li>
                <li>A clear slot in Pasture/Box 1 slot 1.</li>
            </ul>
        </ul>

        <h6 class="fw-bold">Game Settings / Misc</h6>
        <ul>
            <li>In the <code class="fw-bold">Communications</code> tab of the pause menu, set <code class="fw-bold">Internet Connection</code> to <code class="fw-bold">Off</code> and <code class="fw-bold">Automatically Connect?</code> to <code class="fw-bold">No</code>.</li>
            <li>In the <code class="fw-bold">Help</code> tab of the pause menu, open the <code class="fw-bold">Settings</code> and navigate to <code class="fw-bold">Autosave</code>, ensure that it is set to <code class="fw-bold">Disabled</code>.</li>
        </ul>
    </div>
</div>
<br />

<p><span class="fw-bold">Figure 1 -</span> ParLiAment Usage</p>
<img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/la/main-rng/parliament-overview-usage.png" alt="main-rng-cfw-1" class="img-fluid clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/la/main-rng/parliament-overview-usage.png">

<div class="card border-dark">
    <div class="anchored card-header" style="background-color: #6f3b97;" id="parliament-usage-main-rng">
        <span class="fw-bold text-light">ParLiAment Usage</span>
    </div>
    <div class="card-body card-bg">
        <p>ParLiAment is capable of reading your Main RNG seed in real time and provides an RNG calculator that allowing you to predict and manipulate the details of upcoming Pok&eacute;mon on your seed. It also provides seed reset features to automate the process of finding a desirable seed based on your search parameters.</p>

        <p>Throughout this guide we will only be using the <code class="fw-bold">Static (Main)</code> tab as all of our targets use Main RNG. Ensure that you have this tab open and have selected the appropriate target Pok&eacute;mon in the dropdown menu.</p>

        <h6 class="fw-bold">Program Feature Overview</h6>
        <ul>
            <li><span style="color: #B02A37;" class="fw-bold">Red Column -</span> Provides program connectivty features, seed monitoring, TID/SID reading, and final button input automation.</li>
            <ul>
                <li><code class="fw-bold">Baby Mode</code> allows for a hands-free approach for performing the final button input before a Pok&eacute;mon is generated. This is useful for players with accessibility (or skill) issues.</li>
            </ul>
            <li><span style="color: #457B9D;" class="fw-bold">Blue Column -</span> Enter the details of your target Pok&eacute;mon, set desired search filters, reset for desirable seeds, and view the predicted results in the table.</li>
            <ul>
                <li>Clicking the <code class="fw-bold">Reset for Seed</code> button will automate the process of finding a seed that matches your search filters, controllers must be completely disconnected (or Joy Cons must be docked to the console) before clicking.</li>
            </ul>
            <li><span style="color: #2A9D8F;" class="fw-bold">Green Column -</span> Read the details of an encounter OR the Pok&eacute;mon occupying the first slot of Pasture 1. Useful for ensuring we hit the correct target.</li>
            <ul>
                <li>Each encounter has a delay between when the final button input is pressed and when the Pok&eacute;mon is actually generated, details about how to calculate and adjust for this delay will be covered later.</li>
            </ul>
        </ul>

    </div>
</div>
<br />

<p><span class="fw-bold">Figure 2 -</span> ParLiAment Seed Resetting</p>
<img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/la/main-rng/parliament-seed-resetting.gif" alt="main-rng-cfw-2" class="img-fluid clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/la/main-rng/parliament-seed-resetting.gif">

<div class="card border-dark">
    <div class="anchored card-header" style="background-color: #6f3b97;" id="parliament-seed-resetting-main-rng">
        <span class="fw-bold text-light">ParLiAment Seed Resetting</span>
    </div>
    <div class="card-body card-bg">
        <p>Finding a desirable seed may take a while depending on your search range and desired target. The seed reset feature in ParLiAment automates this process entirely, taking a way a significant portion of manual effort. To automate seed resetting, do the following:</p>

        <ol>
            <li>Type the IP address of your console into the <code class="fw-bold">Switch IP:</code> field, then click <code class="fw-bold">Connect</code>. You should now see that your current seed has been updated.</li>
            <li>Select <code class="fw-bold">Static (Main)</code> tab, then enter the details of your target Pok&eacute;mon and enter your search range, do not tweak the value in <code class="fw-bold">Init. Adv:</code> yet.</li>
            <li>Enter your search filters, in the above example we are searching for a seed that has 6 perfect (31) IVs within 50,000 advances as 6 IV seeds can be difficult to come by.</li>
            <li>Disconnect any controllers (or dock your Joy Cons), then click the <code class="fw-bold">Reset for Seed</code> button to start the seed resetting process.</li>
        </ol>

        <p>If everything is done correctly you should now see that your console has started to cycle closing and reopening the game, it will then stop and press the <code class="fw-bold">Home</code> button once a seed that matches your search conditions has been found. If you do not find a seed in a very long time consider increasing your search range or applying less strict IV/Nature filters.</p>

    </div>
</div>
<br />

<div class="alert alert-primary" style="border: 1px solid #004085; border-radius: 8px; padding: 15px; background-color: #cce5ff; color: #004085;">
    <span class="fw-bold">Information -</span> At this point you should understand the basics of using the program and using the automated seed reset routine feature to find desirable seeds. If you are still unfamiliar with the program basics it is recommended to take some time to learn how everything works before continuing.
</div>

<hr />
<div class="title" style="background-color: #6f3b97;">
    <h1 class="text-light text-center pt-3 pb-3">Worked Example</h1>
</div>
<small class="text-muted mb-3 mt-0">
    Follow along with step-by-step instructions to hit your desired seed for your target Pok&eacute;mon.
</small>
<hr />

<p>The instructions for hitting a target seed will vary depending on your target Pok&eacute;mon and how/when that Pok&eacute;mon is generated. Each individual encounter type has its own nuances and has been given a relevant section that can be accessed by selecting your chosen encounter.</p>

<div class="mb-3 w-100">
    <div class="row row-cols-1">
        <div class="col">
            <label for="encounter-select"><span class="fw-bold">Select an encounter to get started:</span></label>
            <select id="encounter-select" class="form-select">
                <option value="" selected>Select your target Pok&eacute;mon...</option>
                <option value="encounter-arceus">I am targeting Arceus!</option>
                <option value="encounter-origin">I am targeting Origin form Dialga/Palkia!</option>
                <option value="encounter-base">I am targeting Base form Dialga/Palkia!</option>
                <option value="encounter-regigigas">I am targeting Regigigas!</option>
                <option value="encounter-giratina">I am targeting Giratina!</option>
            </select>
        </div>
    </div>
</div>

<div>
    <div class="info info-encounter-arceus d-none">
        {% include_relative arceus.html %}
    </div>
    <div class="info info-encounter-origin d-none">
        {% include_relative origin-form.html %}
    </div>
    <div class="info info-encounter-base d-none">
        {% include_relative base-form.html %}
    </div>
    <div class="info info-encounter-regigigas d-none">
        {% include_relative regigigas.html %}
    </div>
    <div class="info info-encounter-giratina d-none">
        {% include_relative giratina.html %}
    </div>
</div>

<!-- Dynamic encounter selection -->
<script>
    $("#encounter-select").change(() => {
        let optionValue = $("#encounter-select").val();

        $(".info").addClass("d-none");
        $(".info-" + optionValue).removeClass("d-none");
    });
</script>

<!-- Syntax highlighting -->
<script>
    hljs.highlightAll();
</script>






















