---
layout: default
title: FRLG TID/SID Manipulation (CFW)
permalink: /cfw/ports/frlg/tid-sid/
---

<div class="title" style="background-color: #3a5f3a; ">
    <h1 class="text-light text-center pt-3 pb-3">TID/SID Manipulation (CFW)</h1>
</div>
<small class="text-muted mb-3 mt-0">
    A guide for RNG manipulating your TID/SID in the Switch ports of FireRed &amp; LeafGreen.
</small>
<hr />

<h6 class="fw-bold">Introduction / Preface</h6>
<p>If you're on this page, you are looking to manipulate your TID, SID, or both! As explained on the main page, this process lets you control which PIDs become shiny or aim for specific TID combinations for aesthetic reasons. This section covers both obtaining a desired TID and manipulating your SID so a chosen PID becomes shiny. Your approach depends on your goal, in most cases you will either:</p>

<ul class="mt-0">
    <li class="mb-0">Target a specific TID purely for aesthetics or personal preference.</li>
    <li class="mb-0">Target a random TID/SID combination to make a desired spread or PID shiny.</li>
    <li class="mb-0">Target a specific TID for aesthetics AND manipulate your SID to make a desired spread or PID shiny.</li>
</ul>

<p>Select your desired use case from the list below to get started. Be aware that searching for a specific TID and an SID to make a specific spread shiny may take a while as it can take some time to find a matching TID and still relies on a perfectly timed inputs to hit the desired SID.</p>

<div class="mb-3 w-100">
    <div class="row row-cols-1">
        <div class="col">
            <label for="manip-select"><span class="fw-bold">I want to...</span></label>
            <select id="manip-select" class="form-select">
                <option value="" selected>Nothing selected...</option>
                <option value="manip-tid">Have a vanity TID only!</option>
                <option value="manip-sid">Make a PID shiny only!</option>
                <option value="manip-both">Have a vanity TID and to make a PID shiny!</option>
            </select>
        </div>
    </div>
</div>

<div>
    <div class="info info-manip-sid d-none">
        {% include_relative sid-only.html %}
    </div>
    <div class="info info-manip-tid d-none">
        {% include_relative tid-only.html %}
    </div>
    <div class="info info-manip-both d-none">
        {% include_relative tid-with-sid.html %}
    </div>
</div>

<!-- Dynamic selection -->
<script>
    $("#manip-select").change(() => {
        let optionValue = $("#manip-select").val();

        $(".info").addClass("d-none");
        $(".info-" + optionValue).removeClass("d-none");
    });
</script>

<!-- Syntax highlighting -->
<script>
    hljs.highlightAll();
</script>
