---
layout: default
title: Fishing Encounter RNG (RETAIL)
permalink: /retail/swsh/new-overworld/fishing/
---

<div class="title" style="background-color: #0c0038;">
    <h1 class="text-light text-center pt-3 pb-3">Overworld Fishing Encounters</h1>
</div>
<small class="text-muted mb-3 mt-0">
    Worked examples for manipulating Fishing encounters in any weather condition.
</small>
<hr />

<p>The species produced in a Fishing spawner is determined by a random value known as an "encounter-slot", this value ranges from 0-99 to decide which Pokemon in the encounter table will spawn. The Pokemon that can be found in the encounter table will remain the same until the weather in the area changes, which can occur at midnight (00:00). Be mindful of the current system time to avoid spawning unexpected Pokemon due to incorrect weather conditions.</p>

<div class="alert alert-danger" style="border: 1px solid #b60606; border-radius: 8px; padding: 15px; background-color: #f8d7da; color: #721c24;">
    <span class="fw-bold">Important -</span> It is assumed that you are familiar with the basic concepts outlined on the main page of this guide. If you are unsure about topics such as <a href="/retail/swsh/new-overworld/seed-finding-and-monitoring" target="_blank" rel="noopener noreferrer" style="color: #721c24; text-decoration: underline;">seed finding</a>, <a href="/retail/swsh/new-overworld/advancing-the-rng-state" target="_blank" rel="noopener noreferrer" style="color: #721c24; text-decoration: underline;">advancement methods</a>, or <a href="/retail/swsh/new-overworld/menu-close-prediction" target="_blank" rel="noopener noreferrer" style="color: #721c24; text-decoration: underline;">NPC calibration</a>, please revisit the relevant pages before starting.
</div>

<span class="fw-bold">Figure 1 -</span> RNG Tool Setup<p></p>
<img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/retail/swsh/overworld/fishing/getting-started-fishing.gif" alt="owrng-fishing-retail-1" class="img-fluid clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/retail/swsh/overworld/fishing/getting-started-fishing.gif"><p></p>

<div class="card border-dark">
    <div class="anchored card-header" style="background-color: #0c0038;" id="getting-started-fishing-retail">
        <span class="fw-bold text-light">Getting Started (Tool Setup):</span>
    </div>
    <div class="card-body card-bg">
        <h6 span class="fw-bold">Required Setup:</h6>
        <ol>
            <li>In the main window, enter your TID/SID, select your game version, and check the Shiny/Mark Charm checkboxes if these items are present in your save file.</li>
            <p></p>
            <li>Select <code class="fw-bold">Encounter Lookup</code> from the toolbar at the top of the owoow main window to open the sub-window, then type the name of your desired species.</li>
            <p></p>
            <li>Search for a FISHING encounter, then enter the Location/Weather/Species information into the <code class="fw-bold">Encounter Settings</code> section of the main window.</li>
            <p></p>
            <li>Enter the KO count for the Pokemon you are hunting inside the <code class="fw-bold">KOs</code> field, this is important for accurately predicting extra rolls caused by Brilliant Aura boosts.</li>
            <p></p>
            <li>Adjust your search range (the <code class="fw-bold">+</code> field in <code class="fw-bold">Encounter Settings</code>), then configure your search filters such as filtering for Shiny, Mark, IVs, Brilliant Aura, or Height.</li>
        </ol>

        <h6 span class="fw-bold">KO Mechanic &amp; Brilliant Aura:</h6>
        <p>Pokemon with Brilliant Aura can have higher shiny rates and two guaranteed perfect IVs, making them ideal for high-IV shiny manipulating. These boosts depend on how many of that species you've knocked out, which can be checked by <a class="clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/swsh/overworld/symbol/ko-count.png">viewing the Pokedex entry</a>.</p>

        <p>To maximize Brilliant Aura boosts, 500 KOs on the species you are hunting is required. A practical alternative is 100 KOs with a Shiny Charm, improving Shiny rates from 1/1024 to 1/683.08, this provides a significant benefit for less effort. For more details on Brilliant Aura rates and Shiny rates, see <a href="https://bulbapedia.bulbagarden.net/wiki/Brilliant_Pok%C3%A9mon#Appearance_rate" target="_blank">Bulbapedia</a>.</p>

        <p class="fw-bold" style="color: #c00000;"><small>KO COUNT MUST BE CONFIGURED PROPERLY IN THE RNG TOOL TO AVOID POTENTIAL ISSUES.</small></p>

    </div>
</div>
<br>

<span class="fw-bold">Figure 2 -</span> Game Setup<p></p>
<img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/retail/swsh/overworld/fishing/game-setup-fishing.gif" alt="owrng-fishing-retail-2" class="img-fluid clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/retail/swsh/overworld/fishing/game-setup-fishing.gif"><p></p>

<div class="card border-dark">
    <div class="anchored card-header" style="background-color: #0c0038;" id="game-setup-fishing-retail">
        <span class="fw-bold text-light">Game Setup:</span>
    </div>
    <div class="card-body card-bg">
        <ol>
            <li>Remove any Pokemon that are currently stored in the {% include tooltips/daycare.html %} then fly to the required location and run around until you have found a fishing pool. All fishing pools in the area will contain the same selection of Pokemon.</li>
            <p></p>
            <li>Move far enough away to completely despawn the fishing pool in-game, set the required weather condition, then save the game. If the fishing pool respawns then you are standing too close, despawn the pool by mounting your bike and try again.</li>
            <p></p>
            <li>If you cannot find a good position, you can knock out any additional static spawners that are blocking your path. Those will remain despawned as long as you do not move far away or reload the area.</li>
            <p></p>
            <li>Once you are positioned correctly, add your desired lead Pokemon to your party and then save the game once more. Detailed information about lead abilities and their use cases can be found by clicking the button below.</li>
        </ol>

    </div>
</div>
<br>

<a type="button" class="list-group-item list-group-item-primary text-end" style="border-radius: 0.25rem;" href="/cfw/swsh/new-overworld/lead-ability-dex-rec" target="_blank" rel="noopener noreferrer">
    Unsure about lead abilities &amp; spawn boosting? <span class="fw-bold">click here to learn more</span>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
    </svg>
</a>

<hr /><div class="title" style="background-color: #0c0038;" id="the-basics">
    <h1 class="text-light text-center pt-3 pb-3">Advancing Towards A Target</h1>
</div>
<small class="text-muted mb-3 mt-0">
    Step-by-step instructions for hitting a target frame can be found here.
</small>
<hr />

<p>The instructions for hitting a target frame depend on the selected weather condition. Rain and Thunderstorm are considered "advanced" and may be challenging for beginners. If this is your first time attempting this type of RNG manipulation it is recommended to start with a different weather condition to familiarize yourself with the general process.</p>

<div class="mb-3 w-100">
    <div class="row row-cols-1">
        <div class="col">
            <label for="moisture-select"><span class="fw-bold">Select a weather condition:</span></label>
            <select id="moisture-select" class="form-select">
                <option value="">No weather condition selected...</option>
                <option value="dry">I am NOT in Rain/Thunderstorm!</option>
                <option value="wet">I am in Rain/Thunderstorm!</option>
            </select>
        </div>
    </div>
</div>

<div>
    <div class="info info-dry d-none">
        {% include_relative dry.html %}
    </div>
    <div class="info info-wet d-none">
        {% include_relative wet.html %}
    </div>
</div>
