---
layout: default
title: Legends Arceus Legendary/Mythical RNG (CFW Spawner)
permalink: /cfw/la/legendary/spawner/
---

<div class="title" style="background-color: #6f3b97;">
    <h1 class="text-light text-center pt-3 pb-3">Spawner RNG (CFW)</h1>
</div>
<small class="text-muted mb-3 mt-0">
    Step-by-step instructions for manipulating Legendary &amp; Mythical Pok&eacute;mon in the Spawner RNG category.
</small>
<hr />

<p>This page provides instructions and examples of how you can perform Spawner RNG manipulation for Legendary &amp; Mythical Pok&eacute;mon in Legends: Arceus. From here it is assumed that you have followed all of the instructions found on the main page and have confirmed that Pok&eacute;mon falls into the Spawner RNG category.</p>

<p>Moarencounterbots is the main tool we will be using throughout this guide. It can be used to automate the process of finding a desirable spawner seed for your target Pok&eacute;mon which cuts out a significant amount of manual effort. After we have found a desirable seed we will then be using ParLiAment to keep track of our current state.</p>

<a type="button" class="list-group-item list-group-item-primary text-end" style="border-radius: 0.25rem;" href="/cfw/la/legendary/" target="_blank" rel="noopener noreferrer">
    Unsure if your Pok&eacute;mon is in the Spawner category? <span class="fw-bold">Head back to the main page!</span>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
    </svg>
</a>

<p><span class="fw-bold">Figure 1 -</span> Initial Game Setup</p>
<img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/la/spawner-rng/setup/initial-game-setup-spawner.png" alt="spawner-rng-cfw-1" class="img-fluid clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/la/spawner-rng/setup/initial-game-setup-spawner.png">

<div class="card border-dark">
    <div class="anchored card-header" style="background-color: #6f3b97;" id="initial-game-setup">
        <span class="fw-bold text-light">Initial Game Setup</span>
    </div>
    <div class="card-body card-bg">
        <p>Before doing anything else, make sure your game is properly set up and that you have the required resources to ensure the RNG process is as smooth as possible. It is assumed that you have progressed the story enough to spawn your target Pok&eacute;mon. If you have not yet done so you should go back and do this now.</p>

        <h6 class="fw-bold">In-game Resources</h6>
        <ul>
            <li>Plenty of throwable items to remove the shield and stun the target Pok&eacute;mon (e.g., Sticky Glob, Ball of Mud, etc.)</li>
            <li>Plenty of healing items to keep your Pok&eacute;mon in good health (e.g., Full Restore, Revives, etc.)</li>
            <li>Plenty of Pok&eacute; Balls to capture your target Pok&eacute;mon (e.g., Gigaton Ball, Jet Ball, Ultra Ball, etc.)</li>
            <li>Plenty of stealth items, particularly helpful for weather genies and Darkrai (e.g., Stealth Spray, Smoke Ball, etc.)</li>
        </ul>

        <h6 class="fw-bold">Party Setup</h6>
        <ul>
            <li>A strong Pok&eacute;mon with a Super Effective move, ideally capable of knocking out your target Pok&eacute;mon in 1-2 attacks.</li>
            <li>A fast Pok&eacute;mon capable of inflicting status conditions (Paralysis or Sleep) onto your target Pok&eacute;mon.</li>
            <li>At least one spare space on your party for your target Pok&eacute;mon to go into.</li>
        </ul>

        <h6 class="fw-bold">Game Settings / Misc</h6>
        <ul>
            <li>In the <code class="fw-bold">Communications</code> tab of the pause menu, set <code class="fw-bold">Internet Connection</code> to <code class="fw-bold">Off</code> and <code class="fw-bold">Automatically Connect?</code> to <code class="fw-bold">No</code>.</li>
            <li>In the <code class="fw-bold">Help</code> tab of the pause menu, open the <code class="fw-bold">Settings</code> and navigate to <code class="fw-bold">Autosave</code>, ensure that it is set to <code class="fw-bold">Disabled</code>.</li>
            <li>(Optional) Most of these encounters have an initial in-game cutscene the first time you interact with them, you can choose to clear this cutscene if you wish to do so.</li>
        </ul>
    </div>
</div>
<br />

<p><span class="fw-bold">Figure 2 -</span> Moarencounterbots Configuration</p>
<img src="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/la/spawner-rng/setup/moarencounterbots-config.gif" alt="spawner-rng-cfw-2" class="img-fluid clickable-image" data-image="https://raw.githubusercontent.com/Billo-PS/billo-guides-images/refs/heads/main/cfw/la/spawner-rng/setup/moarencounterbots-config.gif">

<div class="card border-dark">
    <div class="anchored card-header" style="background-color: #6f3b97;" id="moarencounterbots-configuration-spawner-cfw">
        <span class="fw-bold text-light">Moarencounterbots Configuration</span>
    </div>
    <div class="card-body card-bg">
        <p>As mentioned above, Moarencounterbots (SysBot.NET) is used to automate the process of finding a desirable seed that matches your search conditions, but you will need to manually configure the program settings to match your target Pok&eacute;mon first.</p>

        <h6 span class="fw-bold">Bot Settings</h6>
        <ol>
            <li>Open SysBot.NET and click the <code span class="fw-bold">Hub</code> tab, then open the <code span class="fw-bold">EncounterLA</code> dropdown menu to reveal the settings.</li>
            <li>Set the <code span class="fw-bold">OWLegendary</code> to match your desired target, this will determine the routine the bot uses.</li>
            <li>Set the <code span class="fw-bold">SearchDepth</code> to an amount you are comfortable with, this is the amount of advances you wish to search through.</li>
            <ul>
                <li>For Uxie, Mesprit, Azelf, Heatran &amp; Cresselia, advancing the seed once takes around 30-60 seconds as they immediately respawn.</li>
                <li>For Phione, Manaphy, Shaymin, Darkrai, Tornadus, Thundurus, Landorus &amp; Enamorus, advancing the seed once can take up to 5 minutes.</li>
                <li>It may take a long time to reach your target frame. It is recommended to have a <code span class="fw-bold">SearchDepth</code> of 10-100 depending on the rarity of your target.</li>
            </ul>
            <li>For Phione specifically, set <code class="fw-bold">CheckAllPhioneLayers</code> to <code class="fw-bold">True</code> if you have NOT caught any Phione, otherwise set this value to <code class="fw-bold">False</code> (<a href="https://github.com/Lusamine/SysBot.NET/wiki/LA-EncounterBots#overworld-legendary-seedcheck-bot-encbotowlcheckrngla" target="_blank" rel="noopener noreferrer">More Information</a>).</li>
        </ol>

        <h6 span class="fw-bold">Stop Conditions</h6>
        <p>After completing all of the initial bot configurations you will need to set your <code class="fw-bold">StopConditions</code>. This essentially decides when the bot will stop searching for a target (result has been found). To set your Stop Conditions do the following:</p>

        <ol>
            <li>Open the <code class="fw-bold">StopConditions</code> dropdown menu in the <code class="fw-bold">Hub</code> tab.</li>
            <li>Set the <code class="fw-bold">TargetNature</code> if you want to filter seeds for specific natures.</li>
            <li>Set the <code class="fw-bold">TargetMinIVs</code> &amp; <code class="fw-bold">TargetMaxIVs</code> if you want to filter seeds for specific IV ranges.</li>
            <ul>
                <li>IVs go in the order of HP/ATK/DEF/SPATK/SPDEF/SPEED and values of 0-31 can be set, enter x if you do not care about a specific IV value.</li>
                <li>IV and Nature filters can be combined. For example, we can search for a Timid target with IVs of 31/0/31/31/31/31.</li>
                <li>Set the same values in both <code class="fw-bold">TargetMinIVs</code> and <code class="fw-bold">TargetMaxIVs</code> if you want to search for an exact IV value.</li>
            </ul>
            <li>All Legendary and Mythical encounters are Shiny and Height locked, keep these settings disabled or you will never find a result.</li>
            <li>After setting your Stop Conditions, close and re-open the program to lock in your settings, this is a requirement.</li>
        </ol>

    </div>
</div>
<br />

<hr />
<div class="title" style="background-color: #6f3b97;">
    <h1 class="text-light text-center pt-3 pb-3">Worked Example</h1>
</div>
<small class="text-muted mb-3 mt-0">
    Follow along with step-by-step instructions to hit your desired seed for your target Pok&eacute;mon.
</small>
<hr />

<p>The instructions will vary slightly depending on your target Pok&eacute;mon and how that Pok&eacute;mon is generated. Each of the available encounters can be split into three sub-categories: Cave, Overworld, and Unique Encounters.</p>
<p>Each of these sub-categories has its own section on this page with worked examples and instructions for hitting a target frame. Make sure to follow the instructions for your specific encounter type!</p>

<div class="mb-3 w-100">
    <div class="row row-cols-1">
        <div class="col">
            <label for="encounter-select"><span class="fw-bold">Select an encounter to get started:</span></label>
            <select id="encounter-select" class="form-select">
                <option value="" selected>No encounter type selected...</option>
                <option value="encounter-cave">Uxie, Mesprit, Azelf, &amp; Heatran (Cave)</option>
                <option value="encounter-overworld">Cresselia, Shaymin, Darkrai, Tornadus, Thundurus, Landorus &amp; Enamorus (Overworld)</option>
                <option value="encounter-unique">Phione &amp; Manaphy (Unique)</option>
            </select>
        </div>
    </div>
</div>

<div>
    <div class="info info-encounter-cave d-none">
        {% include_relative cave-encounter.html %}
    </div>
    <div class="info info-encounter-overworld d-none">
        {% include_relative overworld-encounter.html %}
    </div>
    <div class="info info-encounter-unique d-none">
        {% include_relative unique-encounter.html %}
    </div>
</div>

<!-- Dynamic encounter selection -->
<script>
    $("#encounter-select").change(() => {
        let optionValue = $("#encounter-select").val();

        $(".info").addClass("d-none");
        $(".info-" + optionValue).removeClass("d-none");
    });
</script>

<!-- Syntax highlighting -->
<script>
    hljs.highlightAll();
</script>














































